@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

:root {
    --color-body: #413D44;


}


html {
    box-sizing: border-box;
    font-size: 62.5%;  /*PARA QUE 1REM SEA IGUAL A 10 PX*/
  }
*, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-color: var(--color-body);
}



.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;  /*centra el contenido horizontalmente */
    /* podemos usar with: min (90%, 120rem); para suplantar max-with y width */
}

a{
    text-decoration: none;
    
}

img { max-width: 100%; }


/* Header */



.barra {
    padding-top: 4rem;

}



@media (min-width: 768px) {

     .barra {
        display: flex;
        justify-content: space-between;  /* alineamos horizonalmente  */
        align-items: center; /*alineamos verticalmente*/
        border-bottom: 2px solid rgba(244, 247, 244, 0.5);
            }

    .logo {
        padding: 0;
        margin: 0;
        width: 32%;
    }

    .navegacion {
        display: flex;
        gap: 2rem;
    }
    }



.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: #fff;
    padding: 14px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.navegacion__enlace:hover {
    border-radius: 10%;
    background-color: rgba(20, 20, 19, 0.2) ;
}

/* MENU HAMBUERGUESA */

.btn-menu{
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background 300ms;
    display: none;
}



.btn-menu:hover{
    background: #f5f5f5;
}



/*MENU HAMBUERGUESA MEDIA QUERY*/
@media screen and (max-width: 760px) {
    .logo-container {
        display: flex;
        align-items: center;
        justify-content: flex-start; /* Alinea los elementos a la esquina superior izquierda */
    }

    .logo {
        width: 45%;
        order: 2; /* Cambia el orden para que la imagen aparezca después del icono */
    }

    .btn-menu {
        display: inline-flex;
        margin-left: 1px; /* Ajusta el espacio entre el icono y la imagen */
        order: 1; /* Cambia el orden para que el icono aparezca primero */
        color: #fff;
        
    }


    .btn-menu:hover{
        background-color: rgba(20, 20, 19, 0.2) ;
       
    }
    .navegacion {
        height: 100%;
        background: #413D45;
        position: fixed;
        top: 0;
        right: -310px;
        padding: 0 40px;
        transition: all 300ms;
        flex-direction: column;
        z-index: 100000;
       
    }

    .move-nav {
        right: 0;
    }

    .navegacion__enlace {
        margin: 20px 0px;
    }



    /*QUERY FONDO Y CONTACTAME*/
    .fondo{
        max-width: 90%;
        margin-left: 0;
        margin-bottom: 0;

    }
    .texto-fondo p{
        text-align: left;
        font-size: 20px;
        margin-left: -20%;
      
    }

    
    .imagen-fondo{
        display: none;
    }
    .contacto{
        margin-left: 0%;
        
    }

/*QUERY COMPROMISO*/
.compromiso .compromiso-imagenes {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en dispositivos móviles */
}
    /*NOSOTROS QUERY*/
    .contenedor-main {
        
        align-items: center;
        max-width: 100%; /* Ajusta el ancho máximo según tus necesidades */
    }
    
    .nosotros {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centra los elementos horizontalmente */
        text-align: center; /* Centra el texto horizontalmente */
    }
    
    .nosotros h1 {
        font-size: 18px;
        margin-top: 10px;
    }
    
    .nosotros img {
        max-width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
        position: relative;
        margin: 0 auto;
        z-index: -10000;
    }
    
    .nosotros p {
        font-size: 12px;
        max-width: 100%; /* Ajusta el ancho máximo del párrafo */
       text-align: center; /* Espacio en la parte superior e inferior del párrafo */
    }

    
/*PUERICULTORES QUERY*/

.puericultores{
    align-items: center;
    max-width: 100%;
}
.puericultores h1 {
    font-size: 18px;
    margin-top: 10px;
}

.puericultores p {
    font-size: 12px;
    max-width: 100%; /* Ajusta el ancho máximo del párrafo */
    text-align: center;
    line-height: 1.5;
}
.pueri-tarjetas{
    align-items: center;
    text-align: center;
    flex-direction: column; 
}
.pueri-tarjetas .tarjeta h2{
    font-size: 15px;
    margin-bottom: 3px;
}
.tarjeta p {
    font-size: 12px;
}

 .texto-card {
    
    font-size: 10px;
}

/*QUERY SLIDER*/
.slider{
    width: 200px;
    height: 300px;
}




/*QUERY CLIENTES*/
.clientes{
    background-image: cover;
    height: 50%;
}
.clientes-card{
    align-items: center;
    text-align: center;
    flex-direction: column; 
}


/*QUERY DE FORMULARIO*/
.form {
    flex-direction: column;
}

.form,
.image {
    width: 100%;
}


}

/*PARTE CONTACTO*/


.fondo{
   
    display: flex;
    width: 95%;
    margin: 50px;
    padding: 0;
    margin-top: 0;
    max-width: 100%;
    
}

.texto-fondo{
    font-family: 'Montserrat', sans-serif;
    color:#f5f5f5 ;
    max-width: 700px;
    font-size: 35px;
    text-align: left;
    padding: 3rem;
    position: relative;
   
}

.imagen-fondo{
  margin-left: 5%;
  position: absolute;
  z-index: -1000;

}

.contacto{
    font-family: 'Montserrat', sans-serif;;
    padding: 18px;
    margin-top: 0;
    margin-left:5px;
    font-size: 20px;
    
    border: none;
    color: #413D45;
    background-color: #EBCFC8;
    border-radius: 30px;
    box-shadow: 1px 1px 30px -5px #20202049;
    cursor: pointer;
    transition: box-shadow 500ms;
    margin-bottom: 335px;
    
}


.contacto:hover{
    background-color: #C4ADA7;
    box-shadow: 1px 1px 10px -5px #737878;
}

/*FIN DE CONTACTO*/
/*COMPROMISO*/
.compromiso{
    margin-top: 200px;
    background-image: url('../img/fondo imagenes.png');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    justify-content: space-between;
   
}
.compromiso-imagenes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; /* Espacio entre las imágenes */
}

.comp-img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.titulo-compromiso{
    text-align: center;
    font-size: 25px;
    padding: 50px;
}

/*SOBRE NOSOTROS*/

.nosotros{
    align-items: center;
    margin-top: 20px;
    display: inline;
    margin-left: 10px;
    
    
}


.titulo-nos{
    color: #C3846B;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    max-width: 524px;
    margin-left: 10px;
    margin-top: 0;
}


.texto-nos{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    max-width: 730px;
    font-size: 18px;
    text-align: left;
    margin-bottom:10px ;
    margin-left: 10px;
    
}


.nosotros-img{    
    position: absolute;
    margin-left: 55%;
    margin-top: -5%;   
    
}


/*QUE HACEN LOS PUERICULTORES*/


.puericultores{
    align-items: center;
    text-align: center;
    max-width: 100%;
    margin-top: 14%;
}



.titulo-puericultores{
    color: #C3846B;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;    
    margin-left: 10px;
    justify-content: center;
    text-align: center;
   position: relative;
}


.texto-puericultores{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
    max-width: 850;
    margin-bottom:10px ;
    margin-left: 10px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}



.pueri-tarjetas {
    display: flex;
    flex-wrap: wrap; /* Para que las tarjetas se ajusten en filas */
    max-width: 90%;
    justify-content: space-between;
    margin: 0 auto;
    gap: 10px; /* Espacio entre las tarjetas */
    margin-top: 80px;
    
}

 .tarjeta {
    width: 300px; /* Ancho de las tarjetas */
    height: 200px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #F8F6EB;
    text-align: center; /* Para centrar el contenido */
}

/* Estilos para los títulos dentro de las tarjetas */
.pueri-tarjetas .tarjeta h2 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #C3846B;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilos para los párrafos dentro de las tarjetas */
.pueri-tarjetas .tarjeta p {
    font-size: 16px;
    line-height: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}


/*EFECTOS DE TARJETA*/
.tarjeta:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px #AE689D;
}




/* PRODUCTOS */

/*PRODUCTOS*/

.productos{
    align-items: center;
    text-align: center;
    max-width: 100%;
}


.titulo-productos{
    color: #C3846B;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    
    margin-left: 10px;
    justify-content: center;
    text-align: center;
    
}


.texto-productos{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
    line-height: 30px;
    
}



.slider{
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 700%;
    animation: automatico 20s infinite alternate linear;
}

.slider li{
    width: 5%;
    list-style: none;
    margin-right: 15px;
    
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    
  }
  
  .card img {
    width: 100%;
  }
  
  .card-info {
    margin-top: 10px;
  }
  
  .card h2 {
    color: black;
    font-size: 18px;
    margin: 0;
  }
  
  .card p {
    font-size: 16px;
    margin: 0;
  }



@media(min-with: 768px){
    .card img {
        height: 550px;
      }

      .titulo-productos {
        font-size: 28px; /* Ajusta el tamaño del título para pantallas pequeñas */
      }
    
      .texto-productos {
        font-size: 14px; /* Ajusta el tamaño del texto para pantallas pequeñas */
        max-width: 100%; /* Hace que el texto ocupe el ancho completo en pantallas pequeñas */
        line-height: 24px; /* Ajusta la altura de línea del texto para pantallas pequeñas */
      }
}

@keyframes automatico{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left:-50%;}
    45%{margin-left: -50%;}

    50%{margin-left: -100%;}
    70%{margin-left: -100%;}

    75%{margin-left: -150%;}
    100%{margin-left: -150%;}



}



/*CLIENTES SATISFECHOS*/


.clientes{
    align-items: center;     
    background-image: url(../img/fondo\ cliente\ felices.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.titulo-clientes{
    text-align: center;
    padding: 100px;
    font-size: 25px;
}


.clientes-card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
}

.tarjeta-cliente{
    width: 280px; /* Ancho de las tarjetas */
    height: 350px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;   
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #F8F6EB;
    text-align: center; /* Para centrar el contenido */
}

/* FORMULARIO */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #AE689D;
}

.image {
    flex: 1;
    padding: 20px;
}

.image img {
    max-width: 100%;
    height: auto;
}

.form {
    flex: 2;
    padding: 20px;
    
}

form {
    
    padding: 20px;
    background: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 2%;
    background-image: url(../img/fondo_violeta.png);
    
    
}

h2 {
    text-align: center;
    color: #eee;
}



input[type="text"],
input[type="email"],
input[type="telefono"],
textarea {
    width: 100%;
    padding: 7px;
    margin-top: 15px;
    border: 1px solid #ECE5D4;
    border-radius: 24px;
   resize: none;
   background-color: #ECE5D4;
   
}

input[type="submit"] {
    background-color: #ECE5D4;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 7px;
}

input[type="submit"]:hover {
    background-color: #7c5a8c;
    box-shadow: 1px 1px 10px -5px #737878;
}

/* FOOTER */

.pie-pagina{
    width: 100%;
    background-color:#0a141d ;
}


.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}

.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
    font-size: 12px;
    
}
.pie-pagina .grupo-1 .red-social{
  
   text-align: center;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #eee;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: #7c5a8c;
}

.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}


.pie-pagina .grupo-2 small{
    font-size: 15px;
}


/*MEDIA QUERY DE FOOTER*/


@media screen and (max-width:800px){
    
.pie-pagina .grupo-1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
   justify-content: center;

}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
    margin-right: 75px;
}


.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
    font-size: 12px;
    margin-left: 20px;
    max-width: 80%;
    
}
.pie-pagina .grupo-1 .red-social{
    text-align: center;
 }
}